html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

/* font-face fonts */
@font-face {
    font-family: 'Source Sans Pro';
    src: url(assets/source-sans-pro.regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(assets/source-sans-pro.semibold.ttf) format('truetype');
    font-weight: 600;
} 

@font-face {
    font-family: 'Source Sans Pro';
    src: url(assets/source-sans-pro.bold.ttf) format('truetype');
    font-weight: 700;
}


/* layout */

header, 
.left-head,
.right-head {
    display: flex;
}

.left-head,
.right-head {
    align-items: center;
}

header {
    max-height: 10vh;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 1em;
}

main,
.recent-posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.2em;
}

.recent-posts {
    padding-bottom: 2em;
}

/* hero post */

.hero-post {
    height: 40vh;
    background-image: url(images/pexels-filipe-adrian-57041688-17766789.jpg);
    background-size: cover;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.post {
    padding: 1em;
}

/* blog post */

a:hover, a:focus {
    filter: brightness(0.9);
}

.blog-post {
    padding: 1em;
}

.article-header {
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* footer */
footer {
    background-color: #202020;
    text-align: center;
    padding: 1.6em;
}

/* typography */

h1, h2, h4 {
    margin: 0;
}

h1 {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left: 0.3em;
}

h2 {
    font-size: 0.9rem;
    padding: 0 0.5em;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
}

h2.date,
h3,
p.hero-text {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0.3em 0;
    line-height: 1.3em;
}

h3 {
    font-size: 2rem;                             
}

a {
    text-decoration: none;
}

.article-header h2,
.post h2,
.post h3,
.post p {
    color: #151515;
    text-shadow: none;
}

h4 {
    font-size: 1.5em;
    color: black;
}

h5 {
    font-size: 1em;
    margin: 1em 0;
}

.recent-heading {
    text-align: center;
    margin-bottom: 0;
}

.article-header p {
    margin: 0.3em 0;
    color: #505050;
}

.view-more {
    color: black;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 2em;
    margin: 0;
}

footer p {
    font-size: 0.75em;
    line-height: 0.6em;
}

.p-bold {
    font-weight: 700;
    color: #ECECEC;
}

.p-regular {
    color: #D7D7D7;
}

/* images */

.logo {
    max-width: 60%;
    max-height: 60%;
}

main img,
.recent-posts img {
    width: 100%;
    margin: 0.5em 0;
    border-radius: 3px;
}

.post img {
    width: 100%;
    margin: 0.5em 0;
}

/* media queries */
@media (min-width: 768px) {
    h1 {
        font-size: 1.375rem;
    }
    h2 {
        font-size: 1.25rem;
        padding: 0 1em;
    }
    .logo {
        padding-left: 1em;
    }
    .hero-post {
        height: 60vh;
        padding: 3em;
    }
    h3 {
        font-size: 2.5rem;
    }
    h3,
    p.hero-text {
        max-width: 50vw;
    }

    h5 {
        font-size: 1.5em;
    }
    
    main,
    .recent-posts {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2em;
    }
    .view-more {
        padding-bottom: 3em;
    }

    .post {
        padding: 3em;
    }
    .post h2,
    .post h3,
    .post h5,
    .post p {
        padding: 0 3rem;
    }
}